#modal {
  top: 500px;
  left: 500px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  display: none;
  z-index: 5;
  padding: 0px 0px;
}

#modal_close {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}

#hat {
  width: 100%;
  height: 10px;
  position: relative;
  border-radius: 5px;
  border: 1px #000 solid;
  background: #0f0;
  top: 0px;
  right: 0px;
  display: block;
  z-index: 6;
}


#overlay {
  z-index: 3; 
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}